<% include ../includes/header %>
<% include ../includes/nav %>
<section class="section">
	<div class="container is-fluid">
		<h2 class="title is-2">Clientes</h2>
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th><abbr title="Id">Id</abbr></th>
					<th><abbr title="Nome">Nome</abbr></th>
					<th><abbr title="Sobrenome">Sobrenome</abbr></th>
					<th><abbr title="CEP">CEP</abbr></th>
					<th><abbr title="Endereço">Endereço</abbr></th>
					<th><abbr title="CPF">CPF</abbr></th>
					<th><abbr title="Ação">Ação</abbr></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < clientes.length; i++){ %>
				<tr>
					<td><%= clientes[i].id_clientes %></td>
					<td><%= clientes[i].nome %></td>
					<td><%= clientes[i].sobrenome %></td>
					<td><%= clientes[i].cep %></td>
					<td><%= clientes[i].endereco %></td>
					<td><%= clientes[i].cpf %></td>
					<td><a class="delete is-medium"></a></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</section>
<% include ../includes/footer %>